SILEXIUM_PROOF_PAYLOAD_HASH=replace_with_payload_hash_hex
SILEXIUM_TSA_PROOF_FILE=fixtures-real/tsa/author.tsr
SILEXIUM_OTS_PROOF_FILE=fixtures-real/ots/author.ots
SILEXIUM_TSA_VERIFY=/path/to/tsa_verify_command
SILEXIUM_OTS_VERIFY=/path/to/ots_verify_command
