name: Rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - name: deps
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install build-essential pkg-config libssl-dev libsqlite3-dev zlib1g-dev clang libclang-dev llvm-dev gpg signify-openbsd -y
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
